* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #00dabd;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
    .cabecalho-imagem {
        width: 13%;
    }

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
.academia {
    background-image: linear-gradient(#00dabd ,#ca7aff );
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    
}

.academia-imagem{
    width: 25%;
}
.academia-div-imagem{
    width: 35%;
    font-size:15px;
}
