.cabecalho {
    background-color: #00dabd;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
    .cabecalho-imagem {
        width: 13%;
    }

